* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
}

nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px;
  display: block;  
}

h1 {
  color: darkblue;
  padding: .5rem;
}

main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}

p {
  margin: 1rem 0;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid gray;
  padding: 1rem;
  background-color: #e0e0e0;
  color: #333; 
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 5px;
  left: 125px;
}

footer {
  margin-top: 1em;
  border-top: 1px solid gray;
  text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #333;       
  background-color: #f0f8ff;    
  color: #222;                  
}

.indent {
  margin-left: 1em;
}